button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  font-size: 14px;
  min-width: 300px;
  min-height: 45px;
  max-height: 45px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.30s ease-in-out;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12);
  margin: 5px 0;
}

.btn:focus {
  box-shadow: 0 0 5px rgba(84, 23, 141, 0.1);
}

.btn:not([disabled]):hover {
  opacity: .6;
}

.btn-primary {
  background-color: rgb(138, 43, 226);
  color: white;
}

.btn-success {
  background-color: rgb(32, 172, 67);
  color: white;
}

.btn-warning {
  background-color: rgb(226, 223, 43);
  color: white;
}

.btn-danger {
  background-color: rgb(226, 31, 31);
  color: white;
}

.icon {
  background-color: transparent;
  margin-right: 10px;
}
